<div class="divImg mt-3"><img src="assets/logo.jpg" class="img"></div>
<h2 class="card-title text-center mt-3" id="titulo">Inscrição realizada com sucesso !</h2>
<br>
<h5 class="card-title text-center mt-3" id="titulo">Se caso ainda não efetuou o pagamento, você pode estar fazendo isso através da chave pix e enviando o comprovante para o
  número logo abaixo.</h5>
<br>
<h5 class="card-title text-center mt-3" id="titulo">Pix: 63984304160</h5>
<h5 class="card-title text-center mt-3" id="titulo">Número para envio do comprovante: (63) 98430-4160</h5>
<br>
<h5 class="card-title text-center mt-3" id="titulo">Siga a Tribo e o Soma no instagram pelo @tribo.imep e @soma.imep para acompanhar nossas programações.</h5>
<br>
<hr>
